@charset "UTF-8";
body {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  margin: 0;
}

a {
  color: #1D96E3;
  text-decoration: none
}

a:focus,
a:hover {
  color: rgb(74, 171, 233)
}

a:active {
  color: rgb(26, 135, 204)
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #606266;
  font-weight: inherit
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
p:first-child {
  margin-top: 0
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
  margin-bottom: 0
}

h1 {
  font-size: 20px
}

h2 {
  font-size: 18px
}

h3 {
  font-size: 16px
}

h4,
h5,
h6,
p {
  font-size: inherit
}

p {
  line-height: 1.8
}

sub,
sup {
  font-size: 13px
}

small {
  font-size: 12px
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
}

body {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}


input {
  line-height: normal;
  outline: none;
  -webkit-appearance: none;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}


